.listado-servicios {
    @include tablet {
        @include grid(2, 2rem);

    }
    .servicio {
        background-color: $blanco;
        border-radius: 1rem;

        .nombre-servicio{
            color: $negro;
            margin: 0;
            padding: 2rem 2rem 1rem 2rem;
        }
        .precio-servicio{
            color: $azul;
            margin: 0;
            padding: 1rem 2rem 2rem 2rem ;
            font-size: 3rem;
            font-weight: $bold;
        }
        &.seleccionado{
            background-color: $azul;
            p{
                color: $blanco;
            }
        }
    }
}